@model hr_app.Models.JobOfferCreateView

@{
    ViewData["Title"] = "Create";
}

<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src='~/lib/knockout/knockout-3.5.1.js'></script>

</head>

<div class="row page-box">
    <div class="col-sm-12">
        <h2>New Job Offer</h2>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "Create", @name = "Create" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.JobTitle)
                @Html.EditorFor(m => m.JobTitle, new { htmlAttributes = new { @class = "form-control", @id = "jobTitle", @name = "jobTitle" } })
                @Html.ValidationMessageFor(m => m.JobTitle, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Company)

                @Html.DropDownListFor(m => m.CompanyId,
                    Model.Companies.Select(c => new SelectListItem {Text =c.Name, Value = c.Id.ToString() }),
                    new { @class = "form-control", @id = "companyId" })
                @Html.ValidationMessageFor(m => m.CompanyId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Location)
                @Html.EditorFor(m => m.Location, new { htmlAttributes = new { @class = "form-control", @id = "location" } })
                @Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label asp-for="SalaryFrom" class="control-label"></label>
                <div class="input-group">
                    <span class="input-group-addon">PLN</span>
                    <input asp-for="SalaryFrom" class="form-control" id="salaryFrom" placeholder="From" data-bind="value: salaryFrom" />
                    <span class="input-group-addon">.00</span>
                </div>
                <span asp-validation-for="SalaryFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaryTo" class="control-label"></label>
                <div class="input-group">
                    <span class="input-group-addon">PLN</span>
                    <input asp-for="SalaryTo" class="form-control" id="salaryTo" placeholder="To" data-bind="value: salaryTo" />
                    <span class="input-group-addon">.00</span>
                </div>
                <span asp-validation-for="SalaryTo" class="text-danger"></span>
                <h4>Avarage salary: <span data-bind="text: avgSalary"> </span></h4>
            </div>
            <div class="form-group">
                <label asp-for="ValidUntil" class="control-label"></label>
                <input asp-for="ValidUntil" class="form-control" id="validUntil" type="date" />
                <span asp-validation-for="ValidUntil" class="text-danger"></span>

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Enter description", @id = "description" })
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            </div>

        }
        <div>
            <button onclick="create()">Create Job Offer</button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js" type='text/javascript'></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.validate.min.js" type='text/javascript'></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" type='text/javascript'></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" type='text/javascript'></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src='~/lib/knockout/knockout-3.5.1.js'></script>


    <script>


        var ViewModel = function (salary1, salary2) {
            this.salaryFrom = ko.observable(salary1);
            this.salaryTo = ko.observable(salary2);
            this.avgSalary = ko.pureComputed(function () {

                var value = (parseInt(this.salaryTo()) + parseInt(this.salaryFrom())) / 2;
                return value;
            }, this);
        };
        $(document).ready(function () {
            ko.applyBindings(new ViewModel(0, 0)); // This makes Knockout get to work
        });
        function create() {
            var cid = $('#companyId').val();
            var jt = $('#jobTitle').val();
            var loc = $('#location').val();
            var desc = $('#description').val();
            var sfrom = $('#salaryFrom').val();
            var sto = $('#salaryTo').val();
            var vunt = $('#validUntil').val();

            console.log(jt);
            console.log(loc);
            console.log(desc);
            console.log(sfrom);
            console.log(sto);
            console.log(vunt);
            $.post('/api/AddOffer', {
                mCompanyId: cid, mDescription: desc, mJobTitle: jt,
                mLocation: loc, mSalaryFrom: sfrom, mSalaryTo: sto, mValidUntil: vunt
            },
                function (returnedData) {
                    alert('Job offer has been created succesfully');
                }).fail(function () {
                    alert('Error. Job offer wasn\'t created');
                });

        }
    </script>
}