@model IEnumerable<hr_app.Models.JobApplicationAdminView>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "HR", FormMethod.Get))
{
    <div class="input-group col-md-12" style="margin-bottom: 14px">
        <input type="text" class="form-control" placeholder="Search by user"
               name="search" id="search" />
        <span class="input-group-btn">
            <button class="btn btn-info" type="submit">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </span>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Offer.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Offer.JobTitle)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>

            </tr>
        }
    </tbody>
</table>
