@model IEnumerable<hr_app.Models.Job_OfferViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>All job offers</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Job title
            </th>
            <th>
                Salary from
            </th>
            <th>
                Salary to
            </th>
            <th>
                Valid Until
            </th>
            <th>
                Location
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalaryFrom) (PLN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalaryTo) (PLN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidUntil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
        </tr>
        }
    </tbody>
</table>
